* {
    box-sizing: border-box;
    font-family: Arial;
}

.main {
    display: grid;
    flex-direction: column;
    width: 50%;
    background-color: #F4F4F4;
    margin: auto;
    margin-top: 100px;
    padding: 0;
    align-items: center;
    justify-content: center;
}

.header h1 {
    background-color: #c8dde7;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    font-size: 24px;
    padding: 15px;
}

.header {
    margin-left: -15px;
    margin-right: -15px;
}

.login {
    display: grid;
    grid-gap: 8px;
    flex-direction: row;
    background-color: #dee8ed;
    border: 1px solid #c5dbe6;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 10px;
    margin-top: -17px;
}

.login > div {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

.button a {
    font-size: 80%;
    grid-column: 2;
    display: grid;
    grid-row: auto;
}

input[type="submit"] {
    background-color: #3686A9;
    border: 1px solid #BFD8E3;
    border-radius: 5px;
    color: #fff;
    width: 200px;
    height: 25px;
    font-size: 100%;
    grid-column: 2;
}

input[type="text"], input[type="password"] {
    flex-direction: row;
    border: 1px solid #BFD8E3;
    padding: 5px;
    border-radius: 5px;
    font-size: 110%;
    width: 80%;
    height: 40px;
}

#columns {
    width: 100%;
    margin-top: 30px;
}

TD {
    vertical-align: top;
    padding: 5px;
}

TD#leftcolumn {
    border-right: 1px dotted rgb(191, 216, 227);
    padding: 15px 10px 0 0;
    align-self: end;
    width: 50%;
}

TD#rightcolumn {
    padding: 0 0 0 10px;
    width: 50%;
}
