body{
    margin:0;
    padding:0;
    font-family: sans-serif;
    background: url("https://www.itl.cat/pngfile/big/0-7755_nature-pier-bridge-d-river-water-sunset-night.jpg") no-repeat;
    background-size: cover;
}
.login-box{
    width: 280px;
    position: absolute;
    top: 20%;
    left: 40%;
    transform: translate(-50%; -50%);
    color: white;
}
.login-box h1{
    float: left;
    font-size: 40px;
    border-bottom: 6px solid darkviolet;
    margin-bottom: 50px;
    padding: 13px 0;
}
.textbox{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid darkviolet;
    color: white;
}
.textbox input{
    border: n2one;
    outline:none;
    background: none;
    color: white;
    font-size: 18px;
    width: 80%;
    float: left;
    margin: 0 10px;
}
.btn{
    width: 100%;
    background: none;
    border: 2px solid darkviolet ;
    color: white;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0;
}