body {
    background-image: url("https://soulibre.ru/images/thumb/5/5e/Planete.jpg/350px-Planete.jpg");
    background-repeat: no-repeat;
    background-size: initial;
    width: 330px;
}
.cover {
    border: black 0.5px solid;
    height: 480px;
}
.author{
    margin-left: 40px;
    color: black;
    font-family: Georgia;

}
.name{
    margin-left: 35px;
    color:black;
    font-family: cursive;
}
.title{
    padding: 10px;
    margin-top: 20px;
    width: 310px;
    height: 150px;
    border: black 0.5px solid;
}
.cntn{
    text-align: center;
}