body {
    background-image: url("https://static.wixstatic.com/media/bca319_37a471bd97724ec381d1dee8b6d70c80~mv2_d_1347_1689_s_2.jpg/v1/fill/w_2694,h_3378,al_c,lg_2,q_85/bca319_37a471bd97724ec381d1dee8b6d70c80~mv2_d_1347_1689_s_2.jpg");
    background-repeat: no-repeat;
    background-size:40%;

}

.author{
    margin-left: 150px;
    color: black;
    font-family: Harrington;

}
.name{
    margin-left: 150px;
    color:black;
    font-family: Harrington;
}
.title{
    text-align: center;
    float: right;
    margin:10px;
    margin-right: 200px;
    padding: 10px;
    width: 310px;
    height: 150px;
border: black 1px solid;
    width: 500px;
    height: 150px;
}