body{
    font-family: Tahoma;


}
.back{
    color: goldenrod;
}
* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 30%;
    padding: 5px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

h1{
    color: red;
    margin: 5px 5px 5px 5px;
    background-color: darkblue;
    border-style: dotted;
    border-color: yellow;
    padding: 10px 10px 10px 10px;
    text-align: center;
}


.img1{
    border: 10px black;
    border-bottom-style: dashed;
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;

}
.img2{
    width: 100%;
    height: 100%;
    border: 10px black;
    border-bottom-style: dashed;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;

}

.txt{
    text-align: center;
    margin: 10px 10px 10px 10px;
    padding: 15px 15px 15px 15px;
    border: 10px dotted;
    background-color: aqua;
    background-clip:border-box;
}
.Text1{
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
}
.Text2{
    text-indent: 30px;
}
.Text3{
    letter-spacing: -2px;
    word-spacing: -0.5px;

}
.Text4{
    text-transform: capitalize;
}
.Text5{
    text-transform: lowercase;
}
.Text6{
    text-transform: uppercase;
}
.Text7{
    line-height: 80%;
}
.Text8{
    text-shadow: 3px 3px gray;
}
