a{
    color: goldenrod;
}

body{
    font-family: 'Trebuchet MS';

}

ul {
    list-style: none;
}

ul li:before {
    content: '✓' ;
}

.box1{
    background-color: #445162;
    height: 30%;
    width: 100%;
    color: white;
    padding: 10px 0 0 0;
}

.h1{
    padding: 10px 0 0 40px;
}

.text1{
    float: left;
}

.figure1{
    float: right;
    width: 30%;
    height: 70%;
    margin: 10px 50px 10px 10px;
    background-color: white;
}

.second{
    height: 30%;
    padding: 10px 10px 10px 10px;
}

.box2{
    width: 65%;
}

.text2{
    float: left;
    color: #445162;
    padding: 10px 0 0 25px;
}

.figure2{
    float: right;
    width: 25%;
    height: 60%;
    margin: 30px 40px 10px 10px;
    padding: 10px 30px 10px 10px;
    background-color: #445162;
}

.box3{
    background-color: #445162;
    height: 60%;
    color: white;
    padding-top: 10px;
    font-family: "Trebuchet MS";
    font-weight: bolder;
}
.box4{
    float: left;
    width: 50%;
    background-color: #445162;
    padding-left: 350px;
}

.contacts{
    text-align: center;
}

.button{
    border-radius: 4px;
    width: 75px;
    height: 25px;
}

input{
    height: 25px;
    width: 400px;
}
*{
    box-sizing: border-box;
}
.msg{
    height: 100px;
    padding-left: 10px;
}

.pdg{
    padding-left: 10px;
}

button{
    padding: 20px 50px 20px 50px;
}
.button{
    margin-left: 130px;
}

.box5{

    margin-left: 70px;
    float: left;
}

img{
    height: 7%;
    width: 7%;
}

.phone{
    height: 5%;
    width: 4%;
}
.inst{
    width: 4%;
    height: 5%;
}
.footer{
    font-size: small;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: black;
    text-align: center;
}
