.flex-container{
    border-style: solid;
    border-width: 5px;
    border-color: black;
    border-radius: 5px;
    width:50%;
    height: 500px;
    flex-direction:column;
    justify-content: space-around;
    display: flex;
    align-items: center;
}


.flexxx{
    border-style: solid;
    border-width: 5px;
    border-color: black;
    border-radius: 5px;
    height: 100px;
    width: 90%;
    display: flex;
    color:  #668ba0;


}





.fx:nth-of-type(even){
    flex-direction:row-reverse;
    text-align: end;

}

.fx:nth-of-type(odd){
    flex-direction:row;


}


.image{
    height: 100%;
}
.image2{
    height: 100%;
}




.t{

    line-height: 40px;

}

