
*{
    box-sizing: border-box;
}
body{
    background-color: #e19d9d;
}
.wrapper{
    width: 500px;
    margin: 5% auto;
}
.form-area{
    display: flex;
    background: rgba(0,0,0,0.8);
    border-radius: 25px;
    padding: 1.9em;
}
.msg-area{
    display: flex;
    flex-direction: column;
    order: 2;
}
.msg-area>textarea{
   flex: 1;
    min-width:18em;
    background: transparent;
    color: #fff;
    padding: 15px;
}
.details-area{
    flex: 1;
    order:1;
    margin-right: 2em;
}
.details-area input{
    width: 100%;
    background: transparent;
    color: #fff;
    border-radius: 40px;
}
.details-area input, .details-area button{
    padding: 1em;
    margin-bottom: 1em;
}
.details-area button{
    background: tomato;
    color: #fff;
    border: 0;
    padding: 15px 50px;
    border-radius: 40px;
    font-family: poppins;
    font-size: 16px;
    text-transform: uppercase;

}
label{
    color: #fff;
    text-transform: uppercase;
    line-height: 40px;
    font-family: Audiowide;
}