#background {
    background-image: url("https://wernersobek.wavecdn.net/app/uploads/2017/07/sphere_expo2017_007.jpg");
    color: rgb(222, 239, 224);
    font-weight: normal;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 2fr 2fr 2fr 1fr;
    grid-template-rows: 1fr 2fr 2fr 2fr 2fr 2fr;
    /*background-color: rgb(18, 69, 89);*/
    height: 790px;
    width: 90%;
    margin-left: 5%;
}
.grid > div {
    border: 4px solid rgb(18, 69, 89);
}
#item1 {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: rgb(18, 69, 89);
}
#item2 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: rgb(18, 69, 89);
}
#item3 {
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
}
#item4 {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: rgb(18, 69, 89);
    padding-top: 15%;
}
#new_university {
    font-size: 25px;
}
#item5 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 7;
    background-color: rgb(18, 69, 89);
}
#item6 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}
#item7 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: rgb(18, 69, 89);
}
#item8 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: rgb(18, 69, 89);
    font-size: 40px;
    padding-top: 22%;
}
#aitu {
    margin: 0;
}
#item9 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: rgb(18, 69, 89);
}
#item10 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
}
#item11 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: rgb(18, 69, 89);
}
#item12 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 5;
}
#item13 {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: rgb(18, 69, 89);
}
#item14 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
    background-color: rgb(18, 69, 89);
}
#item15 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 6;
}
#item16 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 5;
    grid-row-end: 6;
    background-color: rgb(18, 69, 89);
}
#item17 {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 7;
}
#item18 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 6;
    grid-row-end: 7;
}
#item19 {
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 6;
    grid-row-end: 7;
    background-color: rgb(18, 69, 89);
}
#low_text {
    font-size: 25px;
}
#item20 {
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 7;
    background-color: rgb(18, 69, 89);
}
