.wrapper {
    margin: 0 auto;
    overflow: hidden;
    width: 300px;
    height: 225px;
    border-radius: 10px;
    border: 1px solid #949493;
    box-shadow: 3px 3px 7px #000;
    display: flex;
    margin-top: 12%;
}
.main {
    margin: 0 auto ;
    margin-top: 5px;
    width: 220px;
    display: flex;
    justify-content: center;
}
.display input {
    background: #ccc;
    margin: 0 auto;
    overflow: hidden;
    width: 207px;
    height: 30px;
    border-radius: 5px;
    font-size: 24px;
    display: flex;
}
.buttons input {
    margin: 0 auto;
    overflow: hidden;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    font-size: 24px;
}
