.whole{
    margin: 5%;
}

.buttons{
    align-items: center;
    margin-top: 15px;
    margin-left: 100px;
}

.button:hover{
    background-color: #dedede;
}

.button:active{
    margin: 1px;
}

.lefter{
    float: left;
}

.margintext{
    margin-bottom: 6px;
}

.margin2{
    margin-right: 24px;
    float: left;
}

.center{
    top: 45%;
    margin-right: 44px;
    float: left;
}

.server{
    float: left;
    margin-right: 62px;


}

.field{
    width: 33%
}

.margin{
    margin: 1px;
    border-radius: 4px;
}

.margin3{
    margin-top: 7px;
}
