/*---COLORS USED---*/
/*YELLOW - #F5CE0F*/
/*BLUE - #298AF9*/

/*---FONTS---*/
@import url('https://fonts.googleapis.com/css?family=Courgette|Titillium+Web:200|Merriweather|Raleway&display=swap');

/*---BASIC STYLES---*/
* {
	padding: 0;
	margin: 0;
	-webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
html {
	scroll-behavior: smooth;
	font-family: 'Raleway', sans-serif;
}
html, body {
	height: 100%;
	color: #fff;
}
a {
	text-decoration: none;
	color: #fff;
}
ul {
	list-style: none;
}
i {
	-webkit-transition: all 0.3s ease !important;
    -moz-transition: all 0.3s ease !important;
    -ms-transition: all 0.3s ease !important;
    -o-transition: all 0.3s ease !important;
    transition: all 0.3s ease !important;
}
.container {
	width: 70%;
	margin: 0 auto;
}

/*---SOCIAL UNORDERED LIST---*/
.social {
	display: flex;
	flex-direction: row;
	justify-content: center;
	font-size: 30px;
}
.social li {
	margin-right: 30px;
}
.social li:last-child {
	margin: 0;
}
.social i:hover {
	color: #F5CE0F;
	transform: rotate(15deg);
	-webkit-transform: rotate(15deg);
	-moz-transform: rotate(15deg);
	-o-transform: rotate(15deg);
	-ms-transform: rotate(15deg);
}

/*---HOVER EFFECT UNDERLINE---*/
a.effect-underline {
	display: inline-block;
	position: relative;
}
a.effect-underline:after {
	content: '';
	position: absolute;
	left: 0;
	display: inline-block;
	height: 1em;
	width: 100%;
	border-bottom: 1px solid;
	margin-top: 10px;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

a.effect-underline:hover:after {
 	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

/*---HOVER EFFECT TEXT SHINE---*/
a.effect-shine:hover {
  -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
  -webkit-mask-size: 200%;
  animation: shine 2s infinite;
  position: relative;
}

@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  
  to {
    -webkit-mask-position: -50%;
  }
}

/*---HR BETWEEN SECTIONS---*/
hr.section-division {
	width: 80%;
	margin: 0 auto;
	border: none;
	height: 1px;
	color: #888; /* old IE */
    background-color: #888; /* Modern Browsers */
}

/*---NAVBAR---*/
#nav {
	position: fixed;
	z-index: 100;
	min-height: 30px;
	padding: 15px 0;
	width: 100%;
	background-color: #222;
	-webkit-box-shadow: 0px 17px 13px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 17px 13px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 17px 13px 0px rgba(0,0,0,0.75);
}
#nav h2.logo {
	text-transform: uppercase;	
	display: block;
	float: left;
	font-weight: 900;
}
#nav ul.navbar {
	display: inline-block;
	float: right;
	margin-top: 6px;
}
#nav ul.navbar li {
	text-transform: uppercase;
	display: inline;
	margin-right: 40px;
}
#nav ul.navbar li:last-child {
	margin: 0;
}
#nav a:hover {
	color: #298AF9;
}
.toggle {
	display: none;
	font-size: 30px;
	float: right;
	box-sizing: border-box;
}
.toggle:hover {
	color: #298AF9;
}
/*---HEADER SECTION---*/
header {
	position: relative;
	font-family: 'Merriweather', sans-serif; 
	color: #fff;
	height: 100%;
	background: url('../images/grayscale-photo-of-computer-laptop-near-white-notebook-and-169573.jpg') no-repeat center center;	
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
header .container {
	position: absolute;
	width: 60%;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
	padding: 30px;
	background-color:rgba(0, 0, 0, 0.7);
	border-radius: 7px;
}
header h1 {
	font-size: 70px;
	margin-bottom: 10px;
}
header .plain-text {
	width: 60%;
	margin: 0 auto;
	line-height: 30px;
	margin-bottom: 10px;
}
header .plain-text span {
	color: #F5CE0F;
}
header hr {
	width: 50%;
	margin: 0 auto;
	border: none;
	height: 1px;
	color: #888; /* old IE */
    background-color: #888; /* Modern Browsers */
}
header .social {
	margin-top: 10px;
}
header .fa-chevron-circle-down {
	font-size: 30px;
	position: absolute;
	bottom: 50px;
	left: 50%;
}
header .fa-chevron-circle-down:hover {
	transform: rotate(360deg);
	color: #F5CE0F;
}

/*---ABOUT ME SECTION---*/
section#about {
	padding: 100px 0;
	color: #444;
	width: 100%;
	font-family: 'Raleway', sans-serif !important; 
}
#about a {
	color: #444;
}
.about-block {
	display: grid;
	grid-template-columns: 1fr 3fr;
}
.about-block .img {
	text-align: center;
}
.about-block .img img {
	margin-bottom: 15px;
}
.about-block .img .button {
	display: inline-block;
	position: relative;
	margin: 0 auto;
	width: 280px;
	color: #333 !important;
	font-size: 20px;
	font-weight: 800;
	padding: 20px 0;
	border-radius: 7px;
	background: rgba(241,231,103,1);
	background: -moz-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(241,231,103,1)), color-stop(100%, rgba(254,182,69,1)));
	background: -webkit-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
	background: -o-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
	background: -ms-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
	background: linear-gradient(to right, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#feb645', GradientType=1 );
	transition: all 150ms linear-gradient;
}
.about-block .img .button:hover {
	padding: 18px 0;
}
.about-block .img .button i {
	margin-right: 5px;
}
.about-block .main-info {
	padding: 25px 35px;
	margin-bottom: 15px;
}
.about-block .main-info h1 {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 30px;
	margin-bottom: 15px;
}
.about-block .main-info a.anchor {
	color: #E5BC04 !important;
}
.about-block .main-info .plain-text {
	width: 90%;
	line-height: 30px;
	margin-bottom: 15px;
}
.about-block hr {
	width: 50%;
	border: none;
	height: 1px;
	color: #d3d3d3; /* old IE */
    background-color: #d3d3d3; /* Modern Browsers */
}
.about-block .contact-info {
	margin-top: 15px;
}
.about-block .contact-info h3 {
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 15px;
}
.about-block .contact-info .address {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.about-block .contact-info .address span {
	display: block;
	margin-bottom: 7px;
}

/*---PORFTOLIO SECTION---*/
section#portfolio {
	padding: 100px 0;
	width: 100%;
	/*background-color: #444;*/
	background-color:rgba(0, 0, 0, 0.9);
}
.portfolio-block {
	display: grid;
	grid-template-columns: 1fr 2fr;
}
.portfolio-block .skill-block {
	margin-bottom: 70px;
}
.portfolio-block .skill-block h2 {
	text-transform: uppercase;
	margin-bottom: 18px;
	font-size: 21px;
}
.skill-block .bar {
	/*box-sizing: border-box;*/
	width: 80%;
	background-color: #999;
	border-radius: 25px;
	margin-bottom: 10px;
	color: #111;
}
.bar-name {
	padding: 4px 7px;	
	border-radius: 25px;
	background: rgba(241,231,103,1);
	background: -moz-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(241,231,103,1)), color-stop(100%, rgba(254,182,69,1)));
	background: -webkit-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
	background: -o-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
	background: -ms-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
	background: linear-gradient(to right, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#feb645', GradientType=1 );
	transition: all 150ms linear-gradient;
}
.cpp {width: 80%;}
.python {width: 63%;}
.webdev {width: 74%;}
.js {width: 56%;}

.russian {width: 90%;}
.kazakh {width: 79%;}
.english {width: 82%;}
.turkish {width: 57%;}

.music {width: 83%;}
.psd {width: 62%;}
.sports {width: 68%;}
.codeforces {width: 58%;}
.experience-div {

}
.experience-div .feature-block {
	margin-bottom: 40px;
}
.feature-block h3 {
	display: inline-block;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 15px;
	padding-bottom: 10px;
	border-bottom: 2px solid #298AF9;
}
.feature-block .feature-info {
	margin-bottom: 35px;
}
.feature-info h4 {
	text-transform: uppercase;
	font-size: 18px;
}
.feature-info span {
	font-family: 'Titillium Web', sans-serif;
	color: #d4d4d4;
}
.feature-info p{
	margin-top: 7px;
	width: 90%;
}

/*---CITATES SECTION---*/
section#citates {
	position: relative;
	height: 33vw;
	background: url('../images/art-bright-bulbs-close-up-1146562.jpg') no-repeat center bottom fixed;
}
#citates .container {
	background-color:rgba(0, 0, 0, 0.7);
	width: 100%;
	height: 100%;
}
#citates .citates-block {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 60%;
	height: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.citates-block {
	display: grid;
	grid-template-columns: 1fr 4fr;
}
.citates-block .col-1 {
	font-size: 4vw;	
}
.citates-block p.quotation {
	font-family: 'Courgette', sans-serif;
	font-size: 1.8vw;
	width: 90%;
}
.citates-block .quotation-author {
	margin-top: 20px;	
	font-family: 'Titillium Web', sans-serif;
	font-size: 2vw;
	color: #d4d4d4;
}

/*---CAROUSEL---*/
.citates-block .carousel {
	position: relative;
}
.carousel .carousel-track__container {
	margin-bottom: 20px;
}
.carousel-track {
	transition: transform 1s ease-in-out;
}
.carousel-track .item {
	display: none;
}
.carousel-track .active {
	display: block;
}
.carousel .carousel-nav {
	position: absolute;
	bottom: -30px;
	text-align: center;
}
.carousel-nav .carousel-indicator {
	border: 0;
	border-radius: 50%;
	width: 10px;
	height: 10px;
	background: #d4d4d4;
	margin-right: 6px;
} 
.carousel-nav .active-dot {
	background: #444 !important;
}
.carousel-nav .carousel-indicator:hover {
	background: #444;
}
.carousel-nav .carousel-indicator:last-child {
	margin: 0;
}
.carousel .item {
	position: absolute;
	top: 0;
	bottom: 0;
}


/*---CONTACT BLOCK---*/
section#contact {
	color: #444;
	padding: 100px 0;
}
#contact h2 {
	text-transform: uppercase;
	font-weight: 900;
	margin-bottom: 10px;
}
#contact p.text {
	width: 80%;
}
.top-line {
	display: grid;
	grid-template-columns: 1fr 8fr;
}
.top-line i {
	font-size: 75px;
	color: #F5CE0F;
}
.contact-block .contact-info {
	margin-top: 15px;
}
.contact-block .contact-info h3 {
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 15px;
}
.contact-block .contact-info .address span {
	display: block;
	margin-bottom: 7px;
}
.contact-block {
	display: grid;
	grid-template-columns: 3fr 1fr;
	margin-top: 50px;
}
.contact-block .form form * {
	display: block;
}
.form label {
	margin-bottom: 7px;
	font-size: 17px;
	font-weight: bolder;
	text-transform: uppercase;
}
.form span {
	display: inline-block !important;
	font-size: 23px;
}
.form input, textarea{
	width: 70%;
	padding: 13px 7px;
	margin-bottom: 9px;
	font-family: 'Raleway', sans-serif !important;
	color: #fff;
	font-size: 13px;
	border: 1px solid #111;
	border-radius: 7px;
	background-color: #444;
}
.form textarea {
	resize: none;
	height: 180px;
}
.form button {
	padding: 17px 40px;
	border-radius: 7px;
	font-size: 16px;
	font-weight: bolder;
	text-transform: uppercase;
	color: #f7f7f7;
	-webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
	background: rgba(73,155,234,1);
	background: -moz-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(18,108,211,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(73,155,234,1)), color-stop(100%, rgba(18,108,211,1)));
	background: -webkit-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(18,108,211,1) 100%);
	background: -o-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(18,108,211,1) 100%);
	background: -ms-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(18,108,211,1) 100%);
	background: linear-gradient(to right, rgba(73,155,234,1) 0%, rgba(18,108,211,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#126cd3', GradientType=1 );	
}
.form button:hover {
	padding: 17px 40px;
	font-size: 16px;
	font-weight: bolder;
	text-transform: uppercase;
	color: #f7f7f7;
	background: rgba(163,211,255,1);
	background: -moz-linear-gradient(left, rgba(163,211,255,1) 0%, rgba(48,138,241,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(163,211,255,1)), color-stop(100%, rgba(48,138,241,1)));
	background: -webkit-linear-gradient(left, rgba(163,211,255,1) 0%, rgba(48,138,241,1) 100%);
	background: -o-linear-gradient(left, rgba(163,211,255,1) 0%, rgba(48,138,241,1) 100%);
	background: -ms-linear-gradient(left, rgba(163,211,255,1) 0%, rgba(48,138,241,1) 100%);
	background: linear-gradient(to right, rgba(163,211,255,1) 0%, rgba(48,138,241,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a3d3ff', endColorstr='#308af1', GradientType=1 );	
}

/*---FOOTER---*/
footer {
	position: relative;
	background-color: #000;
	padding: 50px 0;
	text-align: center;
	text-transform: uppercase;
}
footer .fa-angle-up {
	position: absolute;
	top: -26px;
	left: 48%;
	padding: 7px 17px;
	border-radius: 50%;
	font-size: 50px;
	background-color: #555;
}
footer .fa-angle-up:hover {
	background-color: #333;
}
footer ul {
	margin-top: 7px;
	margin-bottom: 20px;
}
footer .rights {
	font-size: 14px;
}
footer .rights a {
	color: #298AF9;
	font-weight: bolder;
}
footer .rights a:hover {
	color: #035ABD;
}


/*---RESPONSIVE---*/

@media screen and (max-width: 1155px) {
	.container {
		width: 80%;
		margin: 0 auto;
	}

	/*---ABOUT BLOCK---*/
	.about-block .main-info .plain-text {
		width: 100%;
	}
	/*---PORTFOLIO BLOCK---*/
	.experience-div .feature-block .feature-info p {
		width: 100%;
	}
}

@media screen and (max-width: 1145px) {
	/*---HEADER---*/
	header h1 {
		font-size: 55px;
	}
	header .plain-text {
		width: 80%;
	}
}

@media screen and (max-width: 1010px) {
	.container {
		width: 85%;	
		margin: 0 auto;
	}
}

@media screen and (max-width: 950px) {
	/*---ABOUT BLOCK---*/
	.about-block {
		grid-template-columns: 1fr;
	}
	.about-block .img {
		margin-bottom: 30px;
	}
	.about-block .main-info .plain-text {
		width: 100%;
	}
	.about-block .contact-info .address {
		font-size: 15px;
	}

	/*---CONTACT BLOCK---*/
	#contact .top-line .block {
		padding-left: 10px;
	}
	#contact .top-line .block .text {
		width: 100%;
	}
	#contact .contact-block {
		grid-template-columns: 2fr 1fr;
	}
	.form input, .form textarea{
		width: 80%;
	}
	.form textarea {
		margin-bottom: 20px;
	}
	#contact .contact-block .contact-info .address {
		font-size: 14px;
	}
}

@media screen and (max-width: 835px) {
	/*---HEADER---*/
	header h1 {
		font-size: 45px;
	}
	header .container {
		width: 75%;
		margin: 0 auto;
	}
	header .plain-text {
		width: 90%;
	}
	
	/*---PORTFOLIO BLOCK---*/
	.skills-div .skill-block h2 {
		font-size: 18px;
	}
	.skills-div .skill-block .bar .bar-name {
		font-size: 11px;
	}
	.experience-div h3 {
		font-size: 18px;
	} 
	.experience-div h4 {
		font-size: 15px;
	}
	.experience-div span {
		font-size: 11px;
	}
	.experience-div p {
		font-size: 13px;
	}
}

@media screen and (max-width: 760px) {
	/*---NAVBAR---*/
	.toggle {
		display: block;
	}
	#nav {
		box-shadow: none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		-o-box-shadow: none;
	}
	#nav ul.navbar {
		position: absolute;
		width: 100%;
		height: calc(100vh-59px);
		background-color: #333;
		top: 59px;
		left: -100%;
		margin: 0;
	}
	#nav ul.active {
		left: 0;
	}
	#nav ul.navbar li {
		display: block;
		margin: 0;
		border-bottom: 1px solid #444;
	}
	#nav ul.navbar li a {
		display: block;
		padding: 20px;
		text-align: center;
	}
	#nav ul.navbar li a:hover {
		background-color: #111;
	}

	/*---CONTACT BLOCK---*/
	#contact .top-line .block {
		padding-left: 20px;
	}
	#contact .top-line i {
		font-size: 65px
	}
	#contact .contact-block {
		grid-template-columns: 1fr;
	}
	#contact .contact-block .contact-info {
		display: none;
	}
	.form input, .form textarea, .form label {
		width: 80%;
		margin: 0 auto;
	}
	.form .button {
		width: 83%;
		margin: 0 auto;
	}
	.form label {
		margin-bottom: 5px;
	}
	.form input {
		margin-bottom: 10px;
	}
	.form textarea {
		margin-bottom: 20px;
	}
	#contact .contact-block .contact-info .address {
		font-size: 14px;
	}
}

@media screen and (max-width: 685px) {
	.container {
		width: 88%;
		margin: 0 auto;
	}
	/*---HEADER---*/
	header h1 {
		font-size: 35px;
	}
	header .plain-text {
		font-size: 13px;
		width: 90%;
		line-height: 23px;
	}

	/*---ABOUT BLOCK---*/
	.about-block .contact-info .address {
		font-size: 13px;
	}
	.about-block .contact-info .address .block {
		margin: 0;
	}
}

@media screen and (max-width: 655px) {
	/*---PORTFOLIO BLOCK---*/
	.portfolio-block {
		grid-template-columns: 1fr;
	}
	.skills-div {
		margin: 0;
	}
	.skills-div .bar {
		width: 100%;
	}
}
@media screen and (max-width: 615px) {
	.about-block .contact-info .address {
		grid-template-columns: 1fr;
	}
}

@media screen and (max-width: 545px) {
	/*---HEADER---*/
	header h1 {
		font-size: 25px;
	}
	header .plain-text {
		font-size: 10px;
		width: 100%;
		line-height: 20px;
	}
	header i {
		font-size: 20px;
	}

	/*---CONTACT BLOCK---*/
	#contact .top-line {
		display: block;
	}
	#contact .top-line i {
		display: none;
	}
	#contact .contact-block {
		display: block;
	}
	.form input, .form textarea, .form label {
		width: 90%;
		margin: 0 auto;
	}
	.form .button {
		width: 94%;
		margin: 0 auto;
	}
	.form label {
		margin-bottom: 5px;
	}
	.form input {
		margin-bottom: 10px;
	}
	.form textarea {
		margin-bottom: 20px;
	}
}

@media screen and (max-width: 380px) {
	.container {
		width: 92%;
		margin: 0 auto;
	}
	/*---HEADER---*/
	header h1 {
		font-size: 20px;
	}
	header .container {
		width: 70% !important;
	}
	header .plain-text {
		font-size: 8px;
		width: 100%;
	}
	header i {
		font-size: 17px;
	}
	header ul.social li {
		margin-right: 14px;
	}

	/*---FOOTER---*/
	footer ul.social li i {
		font-size: 25px;
	}
	footer ul.social li {
		margin-right: 15px;
	}
	footer .rights {
		font-size: 10px;
	}
}